.million-tonnes-of,
.of-food-waste {
  position: absolute;
  width: 26.77%;
  top: 50%;
  left: 60.42%;
  letter-spacing: 0.03em;
  font-weight: 600;
  display: inline-block;
}
.million-tonnes-of {
  width: 33.13%;
  top: 40.94%;
  font-size: var(--font-size-9xl);
  color: var(--color-gray-400);
}
.instance-child26,
.rectangle-wrapper3 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
.instance-child26 {
  width: 100%;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-wrapper3 {
  width: 50%;
  right: 49.69%;
  left: 0.31%;
}
.of-food-waste-happens-in-our-h-parent {
  position: absolute;
  height: 14.96%;
  width: 100%;
  top: 40.09%;
  right: 0.05%;
  bottom: 44.95%;
  left: -0.05%;
  background-color: var(--color-cornsilk);
  color: var(--color-dimgray-100);
}
.because-food-matters {
  position: relative;
  letter-spacing: 0.04em;
  font-weight: 500;
}
.star-icon {
  position: relative;
  width: 43px;
  height: 43px;
}
.because-food-matters-parent {
  position: absolute;
  top: 2606px;
  left: 97px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 47px;
  font-size: var(--font-size-17xl);
}
.component-child10 {
  position: absolute;
  height: 100.88%;
  width: 99.69%;
  top: -9.02%;
  right: 0.16%;
  bottom: 8.14%;
  left: 0.16%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.5;
}
.component-child11 {
  position: absolute;
  height: 21.62%;
  width: 70.92%;
  top: 7.42%;
  right: 14.71%;
  bottom: 70.95%;
  left: 14.36%;
  background-color: var(--color-gainsboro-300);
}
.fress-groceries-directly4 {
  position: absolute;
  top: 30.13%;
  left: 41.67%;
  letter-spacing: 0.03em;
  font-weight: 500;
  text-align: left;
}
.component-child12 {
  position: absolute;
  height: 1.17%;
  width: 16.1%;
  top: 44.86%;
  right: 42.13%;
  bottom: 53.96%;
  left: 41.78%;
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro-300);
}
.grab-your-free4,
.start-making-an4 {
  position: absolute;
  letter-spacing: 0.03em;
  font-weight: 500;
}
.grab-your-free4 {
  top: 45.14%;
  left: 43.7%;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.start-making-an4 {
  top: 43.29%;
  left: 41.78%;
  font-size: var(--font-size-5xl);
}
.join-us8 {
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 500;
  text-align: left;
}
.by-cooking-with4 {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.03em;
  color: var(--color-gray-1000);
}
.frame-child35,
.frame-child36 {
  position: absolute;
  top: 0;
  border-radius: var(--br-7xs);
  height: 30px;
}
.frame-child35 {
  left: 0;
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 312.18px;
}
.frame-child36 {
  left: 228.98px;
  background-color: var(--color-white);
  width: 123.02px;
}
.sign-up4 {
  position: absolute;
  top: 7.8px;
  left: 256.71px;
  letter-spacing: 0.02em;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 66.84px;
  height: 15px;
  opacity: 0.9;
}
.rectangle-parent20 {
  position: relative;
  width: 352px;
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: var(--font-size-smi);
  color: var(--color-gray-400);
}
.join-us-parent2 {
  position: absolute;
  height: 5.34%;
  top: 77.36%;
  bottom: 17.3%;
  left: calc(50% - 697px);
  display: flex;
  flex-direction: column;
  padding: var(--padding-21xl) 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.component-child13 {
  position: absolute;
  height: 47.61%;
  width: 99.69%;
  top: 52.76%;
  right: 0.16%;
  bottom: -0.37%;
  left: 0.16%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.5;
}
.company4 {
  font-size: 27.72px;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-family: var(--font-pangea-text-trial);
  color: var(--color-gainsboro-200);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 132px;
  height: 65px;
  flex-shrink: 0;
}
.about-us9,
.company4 {
  position: relative;
}
.company-parent2 {
  display: flex;
  flex-direction: column;
  padding: var(--padding-mini);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.contact4,
.legal4,
.social-media4 {
  position: relative;
  font-size: 27.72px;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-family: var(--font-pangea-text-trial);
  color: var(--color-gainsboro-200);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 112px;
  height: 65px;
  flex-shrink: 0;
}
.legal4,
.social-media4 {
  width: 81px;
}
.social-media4 {
  width: 181px;
}
.frame-parent6 {
  position: absolute;
  height: 8.93%;
  width: 74.66%;
  top: 88.51%;
  right: 12.74%;
  bottom: 2.56%;
  left: 12.6%;
  display: flex;
  flex-direction: row;
  padding: var(--padding-8xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-188xl);
  font-size: var(--font-size-3xl);
  color: var(--color-dimgray-100);
}
.chef9 {
  color: var(--color-khaki);
}
.eat-healthy-be4,
.inochef9 {
  position: absolute;
  left: 13.81%;
}
.inochef9 {
  top: 73.49%;
  font-size: var(--font-size-53xl);
  letter-spacing: 0.08em;
  font-weight: 500;
  color: var(--color-gold);
}
.eat-healthy-be4 {
  top: 76.43%;
  font-size: var(--font-size-3xl);
  letter-spacing: 0.07em;
  color: var(--color-dimgray-100);
}
.group-parent3 {
  position: absolute;
  top: 3981px;
  left: -3px;
  width: 1926px;
  height: 3237px;
  text-align: center;
  font-size: var(--font-size-lg);
  font-family: var(--font-pangea-trial);
}
.frame-child37 {
  position: relative;
  background-color: var(--color-gainsboro-300);
  width: 1118px;
  height: 456px;
}
.rectangle-wrapper4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-cornsilk);
  display: flex;
  flex-direction: column;
  padding: var(--padding-22xl) 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.inochef-mission,
.we-are-on {
  position: absolute;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.we-are-on {
  height: 4.36%;
  width: 42.98%;
  top: 51.59%;
  left: 3.26%;
  font-family: var(--font-pangea-trial);
  display: inline-block;
}
.inochef-mission {
  top: 46.14%;
  left: 3.34%;
  font-size: var(--font-size-17xl);
  color: #282828;
}
.component-child14,
.know-more {
  position: absolute;
  height: 3.1%;
  width: 16.05%;
  top: 56.46%;
}
.component-child14 {
  right: 80.69%;
  bottom: 40.44%;
  left: 3.26%;
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-200);
}
.know-more {
  left: 3.34%;
  font-size: var(--font-size-smi);
  letter-spacing: 0.03em;
  display: flex;
  font-weight: 500;
  color: var(--color-white);
  text-align: center;
  align-items: center;
  justify-content: center;
}
.component-child15 {
  position: absolute;
  height: 0.17%;
  width: 100%;
  top: 65.69%;
  right: 0;
  bottom: 34.14%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.component-child16,
.component-child17 {
  position: absolute;
  height: 20.3%;
  top: 72.57%;
  right: 75%;
  bottom: 7.13%;
}
.component-child16 {
  width: 21.74%;
  left: 3.26%;
  border-radius: var(--br-sm);
  background-color: var(--color-gray-400);
}
.component-child17 {
  width: 21.66%;
  left: 3.34%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.select-open-down-icon {
  position: relative;
  width: 33.94px;
  height: 33.94px;
}
.select-open-down-parent {
  position: absolute;
  height: 20.61%;
  width: 2.84%;
  top: 72.65%;
  right: 16.14%;
  bottom: 6.74%;
  left: 81.02%;
  display: flex;
  flex-direction: column;
  padding: 8px 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.inochef10 {
  position: absolute;
  width: 5.18%;
  top: 81.88%;
  left: 11.62%;
  letter-spacing: 0.03em;
  font-weight: 500;
  display: inline-block;
  color: var(--color-gold);
}
.frame-child38 {
  position: relative;
  width: 521px;
  height: 2px;
}
.inochef-saves-your {
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.frame-child39 {
  position: relative;
  border-top: 1px solid var(--color-gray-600);
  box-sizing: border-box;
  width: 522px;
  height: 1px;
}
.line-group {
  position: absolute;
  height: 19.04%;
  width: 46.74%;
  top: 73.24%;
  right: 15.55%;
  bottom: 7.72%;
  left: 37.71%;
  display: flex;
  flex-direction: column;
  padding: var(--padding-50xl) var(--padding-lgi);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
  gap: 12.6px;
  font-size: var(--font-size-lg);
  color: var(--color-gray-600);
  font-family: var(--font-pangea-trial);
}
.frame-parent7 {
  position: absolute;
  top: 208px;
  left: 362px;
  width: 1196px;
  height: 1192px;
  color: var(--color-dimgray-100);
}
.frame-child44,
.frame-child45 {
  position: absolute;
  border-radius: var(--br-mini);
}
.frame-child44 {
  height: 49.7%;
  width: 50.06%;
  top: 13.46%;
  right: 25.06%;
  bottom: 36.84%;
  left: 24.88%;
  background-color: var(--color-white);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}
.frame-child45 {
  height: 43.42%;
  width: 48.39%;
  top: 18.42%;
  right: 25.93%;
  bottom: 38.16%;
  left: 25.68%;
  background-color: var(--color-gray-400);
}
.frame-child46,
.frame-child47 {
  position: absolute;
  height: 3.44%;
  width: 50.06%;
  top: 13.46%;
  right: 25.06%;
  bottom: 83.1%;
  left: 24.88%;
  border-radius: var(--br-mini) var(--br-mini) 0 0;
  background-color: var(--color-gainsboro-300);
}
.frame-child47 {
  height: 1.82%;
  width: 31.2%;
  top: 14.27%;
  right: 26.86%;
  bottom: 83.91%;
  left: 41.94%;
  border-radius: var(--br-10xs) var(--br-10xs) 0 0;
  background-color: var(--color-white);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) inset;
}
.wwwinochefin {
  position: absolute;
  top: 14.57%;
  left: 50%;
  letter-spacing: 0.03em;
}
.batch-icon,
.clear-ring-icon,
.frame-child48,
.minus-icon {
  position: absolute;
  height: 1.72%;
  width: 1.05%;
  top: 14.27%;
  right: 72.83%;
  bottom: 84.01%;
  left: 26.12%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.batch-icon,
.frame-child48,
.minus-icon {
  right: 69.85%;
  left: 29.09%;
}
.batch-icon,
.frame-child48 {
  right: 71.28%;
  left: 27.67%;
}
.frame-child48 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
}
.inochef11 {
  position: absolute;
  top: 37.05%;
  left: 38.51%;
  letter-spacing: 0.03em;
  font-weight: 500;
}
.group-parent4 {
  position: absolute;
  height: 45.34%;
  width: 48.33%;
  top: 18.42%;
  right: 25.99%;
  bottom: 36.23%;
  left: 25.68%;
  overflow: hidden;
  font-size: var(--font-size-29xl);
  color: var(--color-gold);
}
.rectangle-parent21 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-cornsilk);
}
.inochef12 {
  position: absolute;
  top: 6.98%;
  left: 3.23%;
  font-size: var(--font-size-base);
  letter-spacing: 0.03em;
  font-weight: 500;
  color: rgba(7, 7, 9, 0.75);
}
.frame-child49 {
  position: absolute;
  height: 9.25%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 90.75%;
  left: 0;
  border-radius: var(--br-mini) var(--br-mini) 0 0;
  background-color: var(--color-gainsboro-300);
}
.clear-ring-icon1 {
  position: absolute;
  height: 5.82%;
  width: 4.87%;
  top: 2.4%;
  right: 92.84%;
  bottom: 91.78%;
  left: 2.29%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.cooking-is-made {
  position: absolute;
  width: 51.29%;
  top: 45.55%;
  left: 24.07%;
  letter-spacing: 0.02em;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-parent22 {
  position: absolute;
  height: 29.55%;
  width: 21.65%;
  top: 28.85%;
  right: 64.52%;
  bottom: 41.6%;
  left: 13.83%;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  box-shadow: 0-4px 10px rgba(0, 0, 0, 0.25), 0 4px 10px rgba(0, 0, 0, 0.25);
  text-align: center;
  font-size: var(--font-size-lg);
  font-family: var(--font-pangea-trial);
}
.frame-child51 {
  position: absolute;
  height: 80.45%;
  width: 90.76%;
  top: 13.64%;
  right: 4.82%;
  bottom: 5.91%;
  left: 4.42%;
  background-color: #cf5050;
}
.rectangle-parent23 {
  position: absolute;
  height: 22.27%;
  width: 15.45%;
  top: 43.12%;
  right: 51.43%;
  bottom: 34.62%;
  left: 33.13%;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  box-shadow: 0-4px 10px rgba(0, 0, 0, 0.25), 0 4px 10px rgba(0, 0, 0, 0.25);
}
.frame-child52 {
  position: absolute;
  height: 8.4%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 91.6%;
  left: 0;
  border-radius: var(--br-mini) var(--br-mini) 0 0;
  background-color: var(--color-gainsboro-300);
}
.clear-ring-icon3 {
  position: absolute;
  height: 5.38%;
  width: 2.94%;
  top: 2.22%;
  right: 95.67%;
  bottom: 92.4%;
  left: 1.39%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.checkmark-icon,
.checkmark-icon1,
.checkmark-icon2,
.checkmark-icon3,
.checkmark-icon4 {
  position: absolute;
  height: 6.72%;
  width: 3.88%;
  top: 25.21%;
  right: 87.86%;
  bottom: 68.07%;
  left: 8.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.checkmark-icon1,
.checkmark-icon2,
.checkmark-icon3,
.checkmark-icon4 {
  top: 37.82%;
  bottom: 55.46%;
}
.checkmark-icon2,
.checkmark-icon3,
.checkmark-icon4 {
  top: 50.42%;
  bottom: 42.86%;
}
.checkmark-icon3,
.checkmark-icon4 {
  top: 63.03%;
  bottom: 30.25%;
}
.checkmark-icon4 {
  top: 75.63%;
  bottom: 17.65%;
}
.no-more-grocery-shopping-parent {
  position: absolute;
  top: 60px;
  left: 71px;
  width: 192px;
  height: 136px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
}
.rectangle-parent24 {
  position: absolute;
  height: 24.09%;
  width: 25.56%;
  top: 34.31%;
  right: 12.9%;
  bottom: 41.6%;
  left: 61.54%;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  box-shadow: 0-4px 10px rgba(0, 0, 0, 0.25), 0 4px 10px rgba(0, 0, 0, 0.25);
  font-size: var(--font-size-smi);
  font-family: var(--font-pangea-trial);
}
.frame-parent8 {
  position: absolute;
  top: 1456px;
  left: 156px;
  width: 1612px;
  height: 988px;
  font-size: 9px;
  color: var(--color-gray-600);
}
.inochef13 {
  color: var(--color-khaki);
}
.about-us10,
.inochef13 {
  position: relative;
  cursor: pointer;
}
.inochef-parent2 {
  position: absolute;
  top: 42px;
  left: 22px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-131xl);
  font-size: var(--font-size-lg);
  font-family: var(--font-inter);
}
.component-group,
.page2 {
  position: relative;
  overflow: hidden;
}
.component-group {
  background-color: var(--color-gray-300);
  width: 1920px;
  height: 7232px;
  flex-shrink: 0;
}
.page2 {
  background-color: var(--color-white);
  width: 100%;
  height: 7230px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-pangea-text-trial);
}
